{% extends "maid/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
	Sign up
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static 'maid/signup.css' %}">
	{{ block.super }}
{% endblock stylesheets %}


{% block content %}
	<div class="alert alert-primary" role="alert">
		Hi Welcome to maidservices.com, please provide required details for Signup.
	</div>
	<form method="post">
		{% csrf_token %}
		
			{{form|crispy}}
		
		<input type="submit" class="btn btn-primary" value="Signup">	
		<button onclick="history.back()" type="button" class="btn btn-info">Go Back</button>	
	</form>

	<div class="page_additional_data">
		<h5> * Plesse Provide your correct data.</h2>
		<h6> - Data really powers everything that we do.  </h1>	
	</div>
	
{% endblock %}